body{
    background-color: blue;
    display: grid;
    grid-template-areas:
    "cabe cabe cabe"
    "prin secu secu"
    "roda roda roda";
    border-bottom: 20px;
    

    
}

.cabeca{
    grid-area: cabe;
    background-color: rgb(255, 107, 218);
   
}

.secundario{
    grid-area: secu;
    background-color: rgb(255, 255, 255);
}

.principal{
    grid-area: prin;
    background-color: rgb(255, 255, 255);
}

.rodape{
    grid-area: roda;
    background-color: rgb(255, 107, 255);

}

.loko,.loco{
    
}

.titulo{
    text-align: center;
    
}

