body{
    background-color: rgb(255, 107, 255);
    display: grid;
    grid-template-areas:
    "cabe cabe cabe"
    "prin secu secu"
    "roda roda roda";
    border-radius: 20px;



    
}

.cabeca{
    grid-area: cabe;
    background-color: rgb(255, 107, 218);
    border-radius: 20px;
   
}

.secundario{
    grid-area: secu;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.principal{
    grid-area: prin;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.rodape{
    grid-area: roda;
    background-color: rgb(255, 107, 255);
    border-radius: 40px;

}

.loko,.loco{
    
}

.titulo{
    text-align: center;
    
}

.logo{
    width: 10%;
}
